.sandboxlivearea {
	border: 1px solid #ccc;
	margin: 10px 0;
	padding: 0 20px;
	background-color: #fff;
}
.wideinputs td textarea,
.wideinputs td input:not([type=submit]):not([type=checkbox]) {
	width: 100%;
}
.wideinputs td textarea {
	height: 100px;
}
.widefat td p.warning {
	color: #ff0000;
}

.inlineform {
	display: inline-grid;
}